.csym019 {
    background-color: lightblue;
    color: black;
    display: block;
    width: 50%;
    float: left;
}

.csym015 {
    background-color: greenyellow;
    color: black;
    display: block;
    width: 50%;
    float: left;
}